* {
    margin: 0;
    padding: 0;
    /* background: none; */
    border-radius: 0;
    /* border: 0;
    background-color: 0; */
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  grid-template: repeat(3, auto) / 1fr;
}

header{
  background-color: none;
  background-image: url('images/main_big.png');
  background-repeat: no-repeat;
  background-position: top 0, right 0, left 0, bottom 0;
}

.main-program, 
.featured-speakers,
.title {
  grid-column:1/-1;
  min-height: 50px;
  padding:0 15px;
}

.navbar {
  outline:1px solid black;
  align-items:center;
  height:40px;
  padding:0 5px;
  margin-bottom:60px;
}

.hamburger > span {
  border:2px solid  #272a31;
  margin-top:3px;
  width:20px;
}

.hamburger > span:nth-child(1){
  margin-top:0;
}

.tagline {
  margin-bottom:5px;
}

.title{
  font-size: 1.5em;
  margin-bottom:20px;
}

.introduction {
  line-height: 20px;
  margin-bottom:20px;
}

.event-date, 
.event-duration {
  font-size:1.1em ;
  font-weight:bold;
}

.venue{
  margin:6px 0 35px 0;
}

/* main program section */

.main-program {
  background-color: #272a31;
  background-image: url('images/pattern_bg.png');
}

.main-program-title {
  text-transform: capitalize;
  color:#fff;
  margin:30px 0;
  font-size:1.3em;
}


.navbar {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.hamburger, .main-program-title {
  display:flex;
  flex-direction: column;
  align-items: center;
}



 

.featured-speakers {
  background-color: blue;
}


/* .title {
  background-color: red;
} */