@font-face {
  font-family: "cocogoose";
  src: url("fonts/cocogoose/Cocogoose-Pro-trial.ttf") format("ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  border-radius: 0;
  font-size: 12px;
  font-family: Lato, sans-serif;
  color: rgb(51, 51, 51);
}

h1,
h2,
h3,
h4 {
  font-family: cocogoose, sans-serif;
}

.home {
  display: -ms-grid;
  display: grid;
  grid-template: repeat(3, auto) / 1fr;
}

header {
  background-image: url('images/main_big.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.main-program,
.featured-speakers,
.title {
  grid-column: 1/-1;
  padding: 0 15px;
}

a {
  text-decoration: none;
  margin: 35px 0;
}

.modal-item a {
  font-size: 2em;
  color: #272a31;
  font-weight: bold;
  line-height: 50px;
}

.navbar {
  align-items: center;
  height: 18px;
  padding-bottom: 20px;
  position: fixed;
  background-color: #fff;
  box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.3);
  width: 100%;
  z-index: 2;
}

.local-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  background-color: #fff;
  width: 100%;
  height: 30px;
  padding-top: 15px;
}

.hamburger {
  margin-left: 25px;
  cursor: pointer;
}

.hamburger > span {
  border: 2px solid  #272a31;
  margin-top: 3px;
  width: 20px;
}

.hamburger > span:nth-child(1) {
  margin-top: 0;
}

.tagline {
  margin-bottom: 5px;
  font-size: 1.8em;
  color: red;
  padding-top: 100px;
}

.page-title {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.page-title-1 {
  -webkit-text-fill-color: rgba(255, 0, 0, 0.4);
  -webkit-background-clip: text;
  background-image: url('images/nyege2.jpg');
  padding-bottom: 20px;
}

.introduction {
  line-height: 20px;
  margin: 40px 0;
}

.event-date {
  font-size: 1.1em;
  font-weight: bold;
}

.venue {
  margin: 6px 0 35px 0;
}

/* main program section */

.main-program {
  background-color: #272a31;
  background-image: url('images/pattern_bg.png');
}

.program-title {
  text-transform: capitalize;
  color: #fff;
  margin: 30px 0 10px 0;
  font-size: 1.3em;
}

.guide-bar {
  width: 30px;
  display: inline-block;
  outline: 1px solid red;
  margin-bottom: 30px;
}

.activities {
  width: 100%;
}

.program-panel {
  background-color: rgba(211, 211, 222, 0.2);
  margin-bottom: 10px;
  column-gap: 5%;
}

.ignite {
  margin-bottom: 0;
}

.programe-icon {
  flex-basis: 40%;
  align-items: flex-start;
}

.description {
  flex-basis: 55%;
  padding-right: 10px;
  color: #fff;
}

.description,
.programe-icon,
.speaker-bio,
.speaker-holder {
  align-items: center;
}

.icon-title {
  font-size: 1.1em;
  font-weight: bold;
  color: red;
}

.join {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  padding: 20px 45px;
  background-color: red;
}

/* featured speakers section */

.featured-speakers .program-title {
  color: black;
}

.page-section {
  width: 100%;
}

.speaker {
  column-gap: 5%;
  margin-bottom: 40px;
}

.speaker-image {
  height: 120px;
  position: absolute;
  width: 120px;
  backface-visibility: hidden;
}

.speaker-holder {
  flex-basis: 120px;
  justify-content: center;
  height: 120px;
  position: relative;
  width: 120px;
}

div.card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

div.card:hover {
  transform: rotateY(180deg);
}

p.back {
  position: absolute;
  width: 120px;
  height: 120px;
  backface-visibility: hidden;
  background: #120909;
  transform: rotateY(180deg);
  padding: 50px 10px 0 10px;
  text-align: center;
  font-weight: bold;
  font-family: 'cocogoose', sans-serif;
  font-size: 0.8em;
  color: #fff;
  box-sizing: border-box;
}

.speaker-bio {
  flex-basis: 60%;
  height: 120px;
}

.speaker-name {
  margin-bottom: 10px;
}

.profession {
  margin-bottom: 15px;
  color: red;
}

.more {
  all: unset;
  outline: 1px solid #d3d3d3;
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 2px;
}

/* about us page */

.about-us,
.about-us-title {
  align-items: center;
}

.about-us-title {
  padding: 30px 20px 0 20px;
  margin-bottom: 60px;
}

.tagline-2 {
  color: red;
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 15px;
}

.page-title-2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.5em;
  color: red;
}

.highlight {
  border: 1px solid rgba(211, 211, 211, 0.1);
  padding: 15px 10px;
  text-align: center;
}

.contact-info {
  text-align: center;
  padding: 0 40px;
  line-height: 20px;
}

.bold-text {
  border-bottom: 1px solid grey;
  padding-bottom: 2px;
}

.logo-h3 {
  text-align: center;
  padding-bottom: 10px;
  font-size: 1.5em;
}

.red-line {
  margin-bottom: 10px;
}

.logo-p {
  margin: 0 15px;
  text-align: center;
  margin-bottom: 10px;
}

.the-logo {
  border: 1px solid rgba(211, 211, 211, 0.5);
  width: 90%;
  margin-bottom: 30px;
}

.past-festivals {
  padding: 30px 10px 20px 10px;
}

.festivals-h3 {
  padding: 0 20px;
  line-height: 25px;
  margin: 15px;
}

.past-festivals p {
  text-align: center;
  margin-bottom: 30px;
}

.past-event {
  height: 220px;
  position: relative;
}

.past-event img {
  height: 100%;
}

.year2020 {
  margin: 20px 0 30px 0;
}

.filter-layer {
  background-color: rgba(255, 0, 0, 0.4);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.past-event p {
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
}

/* footer styles */

.partner-logos {
  padding: 20px;
  background-color: rgb(28, 28, 27);
}

.page-footer h3 {
  margin-bottom: 10px;
  color: #fff;
  font-size: 1.5em;
}

.partners {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 50px);
  grid-template-columns: repeat(4, 1fr);
}

.partners p {
  font-size: 1.4em;
  font-weight: 900;
  text-align: center;
}

.mtn {
  font-style: italic;
  grid-row: 1;
  grid-column: span 4;
}

.capital {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sanyu {
  font-style: oblique;
}

.silk {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
}

.airtel {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.copyright-section div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-logo {
  margin-left: 50px;
  margin-right: 10px;
}

.copyright {
  margin-right: 30px;
}

/* make logo */
.brand img {
  height: 40px;
}

a.brand {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: larger;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  padding: 2px 5px;
  margin-top: 35px;
  opacity: 1;
}

/* modal window styles */
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #d3d3d3;
  padding: 40px 40px;
  z-index: 3;
}

button {
  all: unset;
  cursor: pointer;
  color: #fff;
  font-size: 4.5em;
  padding: 5px 8px 5px 0;
}

li.modal-item {
  list-style: none;
}

.modal-item a:hover,
button:hover {
  color: grey;
}

.large-screen,
.modal.hidden,
.about-us.hidden,
.home.hidden,
a.brand,
ul.nav-list {
  display: none;
}

/* large screen styles */

@media (min-width: 768px) {
  div.hamburger,
  .small-screen,
  section.small-screen {
    display: none;
  }

  ul.social-list {
    outline: 1px solid black;
    display: flex;
    flex-direction: row;
    background-color: #272a31;
    width: 100%;
    justify-content: flex-end;
    padding-right: 300px;
  }

  .social-list li {
    list-style: none;
    padding: 2px 10px;
  }

  .social-list a {
    color: #fff;
    font-weight: bold;
  }

  .local-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 52px;
  }

  .page-title-1 {
    padding-bottom: 40px;
  }

  .introduction {
    line-height: 20px;
    background-color: #fff;
    max-width: 550px;
    border: 1px solid rgba(211, 211, 211, 0.4);
    display: inline-block;
    padding: 10px 15px 10px 10px;
    margin-bottom: 30px;
  }

  .venue {
    margin: 6px 0 50px 0;
    font-size: 1.5em;
    margin-bottom: 80px;
  }

  div.dark-copyright {
    display: none;
  }

  .large-screen {
    display: block;
  }

  a.brand,
  ul.nav-list {
    display: block;
  }

  .navbar {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 19px;
  }

  ul.nav-list {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .nav-list li {
    list-style: none;
    padding: 10px 15px;
  }

  .active {
    color: red;
  }

  .nav-list li:last-child {
    border: 2px solid red;
  }

  .spacing {
    margin: 0 400px 0 120px;
  }

  h2.page-title {
    font-size: 4em;
    margin-bottom: 20px;
  }

  .event-date {
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 10px;
  }

  /* main program section */

  div.activities {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 2px;
    justify-content: center;
  }

  div.program-panel {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 170px;
    box-sizing: border-box;
    text-align: center;
    padding: 10px 0;
    transition: all 0.3s ease;
  }

  div.program-panel:hover {
    transform: scale(1.03);
  }

  .bg-span {
    background-image: url(images/main_big.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  div.programe-icon {
    display: flex;
    flex-direction: column;
  }

  .see-program {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin: 60px 0;
  }

  a.see-program {
    text-decoration: underline;
  }

  .speakers-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* about us large */
  .pad {
    padding: 0 180px;
  }

  .highlight {
    margin: 60px 0;
  }

  .contact-info {
    margin-bottom: 70px;
  }

  .past-event {
    padding: 0;
    margin: 0;
  }

  .key-moments {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
  }

  div.copyright-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
  }

  .dark-copyright {
    background-color: #272a31;
  }

  .bottom-logo {
    background-color: #fff;
  }

  .copyright p,
  span.large-screen {
    color: #fff;
  }

  .page-title-2 {
    margin-top: 100px;
  }

  .tagline {
    font-size: 4em;
    color: red;
    font-weight: bolder;
    margin-bottom: 20px;
    padding-top: 150px;
  }

  span.black-font {
    color: #120909;
  }

  .past-festivals {
    padding-bottom: 100px;
  }
}

/* general styles */
.flex-row,
.program-panel,
.exhibition,
.description,
.programe-icon,
.speaker,
.speaker-holder,
.copyright-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.navbar,
.hamburger,
.main-program,
.activities,
.featured-speakers,
.about-us-title,
.topic-logo,
.the-logo,
.past-festivals,
.filter-layer,
.partner-logos {
  display: flex;
  flex-direction: column;
}

.hamburger,
.main-program,
.featured-speakers,
.topic-logo,
.the-logo,
.past-festivals,
.partner-logos {
  align-items: center;
}
